@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Berlin";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/BerlinTypeWeb-Regular.woff2");
}

@font-face {
  font-family: "Berlin";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/BerlinTypeWeb-Bold.woff2");
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

progress[value] {
  --color: #4f90cd;
  --background: #e6e6e6;
  border: none; /* Firefox add a default border */
  background: var(--background);
}

progress[value]::-moz-progress-bar {
  background: var(--color);
}

progress[value]::-webkit-progress-bar {
  background: var(--background);
}

progress[value]::-webkit-progress-value {
  background: var(--color);
}

@media print {
  canvas {
    display: none !important;
  }
}
